<body>
  <div id='dprDIV'></div>
  <div id='minDeltaDIV'>Min Delta: -</div>
  <div id='avgDeltaDIV'>Avg Delta: -</div>
  <div id='minRAFDIV'>Min RAF: -</div>
  <div id='avgRAFDIV'>Avg RAF: -</div>
</body>
<script>
  function printDPR() {
    const div = document.getElementById('dprDIV');
    div.innerHTML = `Width: ${screen.width}, Height: ${screen.height}, DPR: ${devicePixelRatio}`;
    document.body.appendChild(div);
  }

  function getTimeoutDelta(timeout) {
    return new Promise((resolve) => {
      const startTime = Date.now();
      setTimeout(() => {
        const endTime = Date.now();
        resolve(endTime - startTime);
      }, timeout);
    });
  }

  async function getMinTimeoutDelta(timeout) {
    // Repeat for 1 second, hence 1000ms
    const count = 1000 / timeout;
    let minDelta = Number.MAX_SAFE_INTEGER;
    for (let i = 0; i < count; i++) {
      const delta = await getTimeoutDelta(timeout);
      minDelta = Math.min(delta, minDelta);
    }
    return minDelta;
  }

  async function getAverageTimeoutDelta(timeout) {
    // Repeat for 1 second, hence 1000ms
    const count = 1000 / timeout;
    let average = 0;
    let tick = 0;
    for (let i = 0; i < count; i++) {
      const delta = await getTimeoutDelta(timeout);
      average += delta;
      tick++;
    }
    return average / tick;
  }

  function getRAFDelta() {
    return new Promise((resolve) => {
      const startTime = Date.now();
      window.requestAnimationFrame(() => {
        const endTime = Date.now();
        resolve(endTime - startTime);
      });
    });
  }

  async function getMinRAFDelta(timeout) {
    // Repeat for 1 second, hence 1000ms
    const count = 1000 / timeout;
    let minDelta = Number.MAX_SAFE_INTEGER;
    for (let i = 0; i < count; i++) {
      const delta = await getRAFDelta();
      minDelta = Math.min(delta, minDelta);
    }
    return minDelta;
  }

  async function getAverageRAFDelta(timeout) {
    // Repeat for 1 second, hence 1000ms
    const count = 1000 / timeout;
    let average = 0;
    let tick = 0;
    for (let i = 0; i < count; i++) {
      const delta = await getRAFDelta();
      average += delta;
      tick++;
    }
    return average / tick;
  }

  printDPR();
  const params = new URL(window.location.href).searchParams;
  const timeout = Number(params.get('timeout')) || 16;
  const interval = Number(params.get('interval')) || 1000;
  setInterval(() => {
    getMinTimeoutDelta(timeout).then((res) => {
      document.getElementById('minDeltaDIV').innerHTML = `Min Delta: ${res}`;
    });
  }, interval);
  setInterval(() => {
    getAverageTimeoutDelta(timeout).then((res) => {
      document.getElementById('avgDeltaDIV').innerHTML = `Avg Delta: ${res}`;
    });
  }, interval);
  setInterval(() => {
    getMinRAFDelta(timeout).then((res) => {
      document.getElementById('minRAFDIV').innerHTML = `Min RAF: ${res}`;
    });
  }, interval);
  setInterval(() => {
    getAverageRAFDelta(timeout).then((res) => {
      document.getElementById('avgRAFDIV').innerHTML = `Avg RAF: ${res}`;
    });
  }, interval);
</script>